Source: laszip
Section: devel
Priority: optional
Maintainer: Howard Butler <howard@hobu.co>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), cmake

Homepage: https://github.com/LASzip/LASzip
Package: liblaszip6.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Compresses point cloud data in ASPRS LAS format
 This package was designed for use in PDAL's (http://pdal.io) continuous
 integration (https://launchpad.net/~pdal/+archive/ubuntu/travis) and so may be incomplete
 and/or incorrect.
