Source: laszip
Section: devel
Priority: extra
Maintainer: Howard Butler <howard@hobu.co>
Build-Depends: debhelper (>=9), gcc-4.7, g++-4.7, cmake,
Standards-Version: 3.9.3
Homepage: https://github.com/LASzip/LASzip

Package: laszip
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Compresses point cloud data in ASPRS LAS format
 This package was designed for use in PDAL's (http://pdal.io) continuous
 integration. This Debian packaging is likely incomplete and/or incorrect.
